<!--
  Generated template for the AccidentVehiclePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary>
    <ion-title>Accident Vehicle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="accident-vehicle">
  <div *ngIf="loadingData">
    <ion-list>
      <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
        {{ message }}
        <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" item-right></ion-icon>
        <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!loadingData">

    <ion-segment [(ngModel)]="currentVehicle">
      <ion-segment-button *ngFor="let dataValues of dataValuesArray;let vehicleIndex = index" (click)="showSegment(vehicleIndex)" value="{{ vehicleIndex }}">
        Vehicle {{ vehicleIndex + 1 }}
      </ion-segment-button>
    </ion-segment>

    <div *ngFor="let dataValues of dataValuesArray;let vehicleIndex =index ">
      <div *ngIf="currentVehicle == vehicleIndex">
        <ion-grid>
          <ion-row>
            <ion-col width-90>
              <button clear >Vehicle {{ vehicleIndex + 1 }}</button>
            </ion-col>
            <ion-col width-10>
              <button *ngIf="dataValuesArray.length > 1" clear (click)="removeVehicle(vehicleIndex)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>

          <ion-item >
            <ion-label floating >Driver Licence Number</ion-label>
            <ion-input type="text" required [(ngModel)]="dataValues[dataElementDriverId]" ></ion-input>
          </ion-item>

          <ion-item >
            <ion-label floating>Vehicle plate number</ion-label>
            <ion-input type="text" required [(ngModel)]="dataValues[dataElementVehicleId]"></ion-input>
          </ion-item>

          <div *ngIf="program.programStages">
            <div *ngIf="program.programStages.length > 0">
              <div *ngFor="let programStageDataElement of program.programStages[0].programStageDataElements">
                <div *ngIf="programStageDataElement.displayInReports && !relationDataElements[programStageDataElement.dataElement.id] && !(signatureDataElement.id == programStageDataElement.dataElement.id)">
                  <div *ngIf="!programStageDataElement.dataElement.optionSetValue">

                    <ion-item *ngIf="programStageDataElement.dataElement.valueType =='BOOLEAN' ">
                      <ion-label>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-select [(ngModel)]="dataValues[programStageDataElement.dataElement.id]">
                        <ion-option value="true">Yes</ion-option>
                        <ion-option value="false">No</ion-option>
                      </ion-select>
                    </ion-item>

                    <ion-item *ngIf="programStageDataElement.dataElement.valueType =='TRUE_ONLY' ">
                      <ion-label>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-select [(ngModel)]="dataValues[programStageDataElement.dataElement.id]">
                        <ion-option value="true">Yes</ion-option>
                      </ion-select>
                    </ion-item>

                    <ion-item *ngIf="programStageDataElement.dataElement.valueType =='DATE' ">
                      <ion-label floating>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-input type="date" [(ngModel)]="dataValues[programStageDataElement.dataElement.id]"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="programStageDataElement.dataElement.valueType =='TEXT' ">
                      <ion-label floating>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-input type="text" [(ngModel)]="dataValues[programStageDataElement.dataElement.id]"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="programStageDataElement.dataElement.valueType =='LONG_TEXT' ">
                      <ion-label floating>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-textarea [(ngModel)]="dataValues[programStageDataElement.dataElement.id]"></ion-textarea>
                    </ion-item>

                    <ion-item *ngIf="programStageDataElement.dataElement.valueType =='NUMBER' || programStageDataElement.dataElement.valueType =='INTEGER' ">
                      <ion-label floating>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-input type="number" [(ngModel)]="dataValues[programStageDataElement.dataElement.id]"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="programStageDataElement.dataElement.valueType =='INTEGER_ZERO_OR_POSITIVE' ">
                      <ion-label floating>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-input type="number" min="0" [(ngModel)]="dataValues[programStageDataElement.dataElement.id]"></ion-input>
                    </ion-item>

                  </div>
                  <div *ngIf="programStageDataElement.dataElement.optionSetValue">
                    <ion-item>
                      <ion-label>{{ programStageDataElement.dataElement.name }}</ion-label>
                      <ion-select [(ngModel)]="dataValues[programStageDataElement.dataElement.id]">
                        <div *ngFor="let option of programStageDataElement.dataElement.optionSet.options">
                          <ion-option value="{{ option.code }}">{{ option.name }}</ion-option>
                        </div>
                      </ion-select>
                    </ion-item>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!(signatureDataElement.id =='')">
            <ion-row>
              <ion-col  width-50 >
                <button (click)="initiateSignaturePad(vehicleIndex)" full >
                  Edit/Clear
                  <ion-icon name="ios-create-outline"></ion-icon>
                </button>
              </ion-col>
              <ion-col  width-50 >
                <button (click)="saveSignaturePad(vehicleIndex)" full >
                  Save
                  <ion-icon name="done-all"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <canvas id='signatureCanvasAccidentVehicle_{{vehicleIndex}}' class="" height='200'  style='border: 1px solid black;width:100%'></canvas>
            <div style="text-align:center;" *ngIf="signatureDataElement.imageData[vehicleIndex]" >
              <img height='100' src="{{signatureDataElement.imageData[vehicleIndex]}}"/>
            </div>
          </div>
        </ion-list>

      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <button full (click)="addVehicle()">Add</button>
        </ion-col>
        <ion-col width-50>
          <button full (click)="prepareToSaveAccidentVehicle()">Next
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
